*{
  margin: 0%;
}
#nav{
  background-color: aliceblue;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#barchart{
  margin-top: 10px;
  margin-left: 90px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 5px;
  width:900px;
  height:300px;
}
#scatterplot{
  margin-top: 10px;
  margin-left: 90px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 15px;
  width:900px;
  height:400px;
  
}